@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: clamp(16px, 2vw, 18px);
  scroll-behavior: smooth;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

input, textarea, button {
  font-family: inherit;
}

.button-primary {
  @apply bg-primary text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition;
}
